
      <!-- banner -->

<div class="homepage-content-container">
  <div class="homepage-content row align-items-center">
    <div class="homepage-content-title">
      <h1>Afterwork, dîners, matchs, <br> dans des appartements insolites à Paris.</h1>
      <div class="mt-4" id="avis-home">
        <div class="ms-slider">
          <ul class="ms-slider__words">
            <li class="ms-slider__word">"Psg sur écran géant! ⚽"</li>
            <li class="ms-slider__word">"Incroyable dîner en amoureux 🥂"</li>
            <li class="ms-slider__word">"Mes 30 ans sur un Rooftop. 😍"</li>
            <!-- This last word needs to duplicate the first one to ensure a smooth infinite animation -->
            <li class="ms-slider__word">"Psg sur écran géant! ⚽"</li>
          </ul>
        </div>
        <div class="mt-4 d-flex flex-row-reverse"id="cta">
          <a href="<%= places_path %>">Découvrir</a>
      </div>
    </div>
  </div>
</div>



<video id="target-source" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
  <source src="https://v.ftcdn.net/01/04/96/48/700_F_104964807_BdVT8FsfUHakibMCPDVtDVFPnnndzZ80_ST.mp4" type="video/mp4">
</video>




<script>
     var links = ['https://v.ftcdn.net/01/94/29/41/700_F_194294173_xBKpbwDJ91ekEkCC2PTkbkr2KtQWacaN_ST.mp4', 'https://v.ftcdn.net/01/16/28/37/700_F_116283741_EfYkiZQc4An9dOMs7ZfcCTAZlcriA5yF_ST.mp4'];
     var i = 0;
     var renew = setInterval(function(){
         if(links.length == i){
             i = 0;
         }
         else {
         document.getElementById("target-source").src = links[i];
         i++;

     }
     },5000);
</script>


<!--
<div class="video-container">
  <video autoplay muted loop>
    <source src="https://v.ftcdn.net/01/04/96/48/700_F_104964807_BdVT8FsfUHakibMCPDVtDVFPnnndzZ80_ST.mp4" type="video/mp4">
  </video>
  <div class="overlay-content">
    <h1>Prenez l'Apéro dans des appartements insolites</h1>
    <p>Afterwork - Dîner - Soirée Foot - All Over The Night</p>
    <%= link_to "découvrir les lieux", places_path, class:"btn btn-light" %>
  </div>

  <div class="location">
    <p><i class="fas fa-compass"></i> Villa Gaudelet, Paris 11ème</p>
  </div>
</div>

</div>
 -->
