<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="header">
  <div class="header-content">
    <div class="row">

    </div>
    <div class="row">

    </div>
  </div>
</div>
