<div class="banner position-sticky" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpnte3nr8/image/upload/v1558966768/austin-distel-1555610-unsplash_ne1asc.jpg);">
  <div class="container">
    <h1>Prenez l'Apéro dans des appartements insolites</h1>
    <p>Afterwork - Dîner - Soirée Foot - All Over The Night</p>
    <%= link_to "découvrir les lieux", places_path, class:"btn btn-light" %>
  </div>
  <div class="location">
    <p><i class="fas fa-compass"></i> Villa Gaudelet, Paris 11ème</p>
  </div>
</div>

